/* Reset */

*, *::before, *::after {
  box-sizing: border-box;
}

* { margin: 0 }

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

.icon {
  height: 1em;
  display: inline-block;
  vertical-align: middle;
}

input, button, textarea, select {
  font: inherit;
  color: currentColor;
  padding: var(--space-small) var(--space)
    /* because Pagefind adds an inline `padding-right` (as of 2025-11-04). */
    !important;
  border: var(--border-width) var(--color-accent) solid;
  background: var(--_background-color);

  &:focus {
    outline: var(--border-width-larger) solid var(--color-accent);
  }
}

  button {
     color: var(--color-dark);
     background: var(--color-accent);
  }

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Style */

:root {
  color-scheme: dark;

  --color-white: light-dark(#000, #fff);
  --color-dark: light-dark(
    oklch(96%    .017 285.2),
    oklch(26.42% .017 285.2)
  );
  --color-dark-lighter: light-dark(
    oklch(from var(--color-dark) calc(l - .04) c h),
    oklch(from var(--color-dark) calc(l + .1) c h)
  );
  --color-dark-blue: light-dark(
    oklch(72.77% 0.024 264.05),
    oklch(27.23% 0.024 264.05)
  );
  --color-light: light-dark(
    oklch(15% .004 360),
    oklch(85% .004 360)
  );
  --color-lighter: light-dark(
    oklch(from var(--color-light) calc(l - .05) c h),
    oklch(from var(--color-light) calc(l + .05) c h)
  );
  --color-light-darker: light-dark(
    oklch(from var(--color-light) calc(l + 0.41) c h),
    oklch(from var(--color-light) calc(l - 0.21) c h)
  );
  --color-accent: light-dark(
    oklch(69.50% .140 76.18),
    oklch(84.83% .114 76.18)
  );
  --color-accent-darker: oklch(from var(--color-accent) calc(l - .04) c h);
  --color-accent2: oklch(59.1% .236 10.25);

  --space-very-very-small: .2rem;
  --space-very-small: .25rem;
  --space-small: .5rem;
  --space: 1rem;
  --space-large: 1.5rem;
  --space-very-large: 3rem;

  --border-width: 2px;
  --border-width-larger: 3px;
  --border-color: var(--color-dark-lighter);
  --border-color-lighter: var(--color-light-darker);

  --text-size: 1.05rem;
  --text-line-height: 1.5;

  --blur: .3rem;

  --transition-duration-long: 750ms;
  --transition-timing-snap: linear(0, 0.947 9.6%, 1.153 14.4%, 0.976 29.6%, 1.004 44.8%, 1);
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
  }
}

@media not (prefers-reduced-motion: reduce) {
  @view-transition {
    navigation: auto;
  }
}

html {
  scroll-padding-top: var(--space-very-large);
}

body {
  --_background-color: var(--color-dark);

  /* Thanks https://modernfontstacks.com/! */
  font-size: var(--text-size);
  font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
  font-weight: normal;
  font-variant: diagonal-fractions slashed-zero;
  line-height: var(--text-line-height);

  color: var(--color-light);
  accent-color: var(--color-accent);
  background: var(--_background-color);

  scroll-behavior: smooth;
}

a {
  color: var(--color-accent);
  text-decoration: none;

  &:hover, &:focus {
    text-decoration-color: var(--color-accent-darker);
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
  }
}

h1, h2, h3, h4, h5, h6 {
  --_margin-block-start: var(--space-very-large);

  line-height: 1.25em;
  margin-block: var(--_margin-block-start) var(--space-large);

  :not(section:not(:first-child)) > &:is(:first-child, :last-child) {
    --_margin-block-start: 0;
  }

  > .anchor {
    display: none;
  }

  &:is(:hover, :focus) > .anchor {
    display: inline-block;
    margin-inline-start: var(--space-small);
  }

  &.separator {
    --_color: var(--border-color-lighter);

    position: relative;

    font-size: 1em;
    font-weight: normal;
    color: var(--_color);
    text-align: center;
    max-width: 60%;
    margin: var(--space-very-large) auto;

    > span {
      padding-inline: var(--space);
      display: inline-block;
      max-width: 57%;
      background: var(--_background-color);
    }

    &::before {
      --_width: var(--border-width);

      content: '';
      z-index: -1;
      position: absolute;
      top: calc(50% - var(--_width) / 2);
      left: 0;
      right: 0;
      border-top: var(--_width) var(--_color) solid;
    }
  }
}

h1 {
  font-size: 1.8em;
}

h2, .h2 {
  font-size: 1.4em;
}

h3, .h3 {
  font-size: 1.2em;
}

p {
  --paragraph-margin: var(--space);

  hyphens: auto;
  margin-block: var(--paragraph-margin);

  &:first-child {
    margin-block-start: 0;
  }

  &:last-child {
    margin-block-end: 0;
  }
}

ul {
  position: relative;
  list-style: none;
  padding-inline-start: var(--space-large);

  > li::before {
    content: "•";
    position: absolute;
    left: 0;
    display: inline-block;
    text-align: center;
    width: var(--space-large);
  }
}

ol {
  padding-inline-start: 2ch; /* 1 number plus a dot, like “7.” */
}

li {
  + li {
    margin-block-start: var(--space-small);
  }

  p {
    --paragraph-margin: var(--space-small);
  }
}

small {
  font-size: .8em;

  :is(h1, h2, h3) & {
    font-size: .6em;
  }
}

sup > abbr {
  font-variant-caps: all-small-caps;
}

code {
  /* Thanks https://modernfontstacks.com/! */
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-weight: normal;
  font-size: .85em;
  hyphens: auto;
  padding: var(--space-very-small);
  background: var(--color-dark-lighter);
}

pre {
  --_padding: var(--space);

  color-scheme: dark;
  overflow-x: scroll;
  margin-block: var(--space);
  line-height: 1.3em;
  background: var(--color-dark-blue);
  border: var(--border-width) var(--border-color) solid;

  --_text: "Code";

  code {
    display: block;
    margin: var(--_padding);
    padding-inline: 0;
    background: transparent;
  }

  &:has(> code[data-lang="rust"]) { --_text: "Rust" }
  &:has(> code[data-lang="shellsession"], > code[data-lang="shellscript"]) { --_text: "Shell" }
  &:has(> code[data-lang="java"]) { --_text: "Java" }
  &:has(> code[data-lang="sql"]) { --_text: "SQL" }
  &:has(> code[data-lang="php"]) { --_text: "PHP" }
  &:has(> code[data-lang="xml"]) { --_text: "XML" }
  &:has(> code[data-lang="json"]) { --_text: "JSON" }
  &:has(> code[data-lang="html"]) { --_text: "HTML" }
  &:has(> code[data-lang="toml"]) { --_text: "TOML" }

  &:has(> code[data-lang])::before {
    content: var(--_text) " session";
    position: sticky;
    top: 0;
    left: 0;
    padding: var(--space-small) var(--_padding);
    font-size: .85em;
    background: var(--border-color);
  }
}

figure {
  --_block-space: var(--space);
  --_inline-space: var(--space);

  margin-block: var(--space-large);

  &:last-child {
    margin-block-end: 0;
  }

  &:has(img, picture, [role="img"], .youtube-player) {
    --_figcaption-color: var(--color-dark-lighter);

    color-scheme: dark;
    padding: var(--_block-space) var(--_inline-space);
    background: var(--color-white);
    border-radius: var(--space-small);

    code {
      background: none;
    }
  }

  .youtube-player {
    aspect-ratio: 16 / 9;
    width: 100%;
  }

  figcaption {
    color: var(--_figcaption-color, currentColor);
    margin-block-start: var(--_block-space);
    margin-inline: auto;
    max-width: 80%;
    text-align: center;
    text-wrap: balance;

    a, a:hover, a:focus {
      color: currentColor;
      text-decoration-color: currentColor;
      text-decoration-line: underline;
      text-decoration-thickness: 3px;
    }
  }

  :not(figcaption) {
    margin-inline: auto;
    max-height: 50vh;
  }

  & > p {
    margin: 0;
  }

  &:has(> table) {
    overflow: scroll hidden;
  }
}

table {
  font-variant: tabular-nums;
  border-collapse: collapse;

  th, td {
    padding: var(--space-very-small) var(--space-small);
    border: var(--border-width) var(--border-color) solid;
  }
}

blockquote {
  font-style: italic;
  font-size: 1.05em;
  padding-left: var(--space);
  border-left: var(--border-width) var(--border-color) solid;
}

q {
  font-style: italic;
  font-size: 1.05em;
}

time {
  font-variant: oldstyle-nums;
}

details {
  --_padding: var(--space);

  position: relative;

  padding: var(--_padding);
  border: var(--border-width) var(--border-color) solid;

  summary {
    cursor: pointer;
    padding-inline-end: var(--space-very-large);

    list-style: none;
    &::marker,
    &::-webkit-details-marker {
      content: none; /* all browsers */
      display: none; /* WebKit */
    }

    &::after {
      position: absolute;
      top: var(--_padding);
      right: var(--_padding);

      content: '+';
      font-weight: bold;
    }
  }

  &[open] summary::after {
    content: '−' !important;
  }
}

mark {
  border: var(--border-width-larger) oklch(73.3% .194 75) solid;
  border-radius: 5px;
  background: oklch(90% .177 75);
  padding-inline: var(--space-very-small);
}

.content-grid {
  --padding-inline: 1rem;
  --content-max-width: 70ch;
  --breakout-max-width: 85ch;

  --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

  display: grid;
  grid-template-columns:
    [full-width-start]
      minmax(var(--padding-inline), 1fr)
      [breakout-start]
        minmax(0, var(--breakout-size))
        [content-start]
          min(
            100% - (var(--padding-inline) * 2),
            var(--content-max-width)
          )
        [content-end]
        minmax(0, var(--breakout-size))
      [breakout-end]
      minmax(var(--padding-inline), 1fr)
    [full-width-end];

  > * {
    grid-column: content;
  }

  > .breakout {
    grid-column: breakout;
  }

  > .full-width {
    grid-column: full-width;
  }
}

main {
  margin-block: var(--space-very-large);
}

#menu {
  color-scheme: dark;
  color: var(--color-white);
  background: var(--color-accent2);

  > ul {
    display: grid;
    grid-template-columns: repeat(5, auto);
    padding: 0;
    height: var(--space-very-large);
    align-items: center;
  }

  > ul > li {
    margin: 0;
    padding: 0;
    text-align: center;

    &::before {
      display: none;
    }
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover, &:focus {
      text-decoration-color: currentcolor;
    }
  }
}

footer {
  padding: var(--space);
  border-top: var(--border-width) var(--border-color) solid;

  .footer {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--space-very-large);
    row-gap: var(--space-large);

    > * {
      min-width: fit-content;
    }

    h2 {
      font-size: var(--text-size);
      margin-block: var(--space);
    }

    ul {
      padding-inline-start: 0;

      li::before {
        content: "";
      }
    }
  }
}

article {
  > header {
    margin-block-end: var(--space-very-large);

    > h1 {
      display: inline-block;
    }

    > .metadata {
      margin-block-start: var(--space);
    }
  }

  &.series-episode {
    > header {
      > h1 {
       margin-block-end: 0;
      }

      > nav {
        > p {
          margin-block-start: 0;
        }
      }
    }

    .previous-next-episodes {
      display: flex;
      flex-wrap: wrap;
      gap: var(--space-large);
      margin-block-start: var(--space-very-large);

      > * {
        flex: 1;
        min-width: fit-content;
      }
    }
  }
}

.button {
  padding: var(--space-small) var(--space);
  color: var(--color-dark);
  background: var(--color-accent);

  a&:hover, a&:focus {
    outline: var(--border-width) var(--color-accent) solid;
    color: unset;
    text-decoration: none;
    background: transparent;
  }

  &.button--disabled {
    color: currentColor;
    border: var(--border-width) var(--color-accent) solid;
    background: transparent;
  }
}

.metadata > * {
  display: inline-block;
  color: var(--color-light-darker);

  &:not(:last-child) {
    margin-inline-end: var(--space-large);
  }
}

.article-poster, .series-poster {
  padding: var(--space);
  border: var(--border-width) var(--border-color) solid;

  :has(+ &) {
    margin-block-end: var(--space);
  }

  > a {
    display: inline-block;

    &:has(+ .label) {
      margin-inline-end: var(--space);
    }
  }

  > div:last-child {
    margin-block-start: var(--space);
  }
}

.label {
  color: var(--color-white);
  color-scheme: dark;
  font-size: 0.7rem;
  font-weight: bold;
  padding: var(--space-very-very-small) var(--space-small);
  vertical-align: text-top;
  border-radius: var(--space-very-small);
  background: var(--color-accent2);
}

.conversation {
  --_space: var(--space);

  display: grid;
  grid-template-columns: minmax(60px, 16%) 1fr;
  gap: var(--_space);
  color-scheme: dark;
  color: var(--color-dark);
  min-width: 0;
  min-height: 0;
  padding: var(--_space);
  border-radius: var(--space-small);
  background: var(--color-accent-darker);

  > .conversation--character {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;

    span {
      font-size: .8em;
      font-style: italic;
      text-align: center;
    }
  }

  &[data-character="comte"] ~ &[data-character="comte"],
  &[data-character="factotum"] ~ &[data-character="factotum"],
  &[data-character="procureur"] ~ &[data-character="procureur"] {
    > .conversation--character {
      span {
        display: none;
      }
    }
  }

  > .conversation--message {
    min-width: 0;

    a, a:hover, a:focus {
      color: currentColor;
      text-decoration-color: currentColor;
      text-decoration-line: underline;
      text-decoration-thickness: 3px;
    }

    code {
      padding-inline: 0;
      background-color: transparent;
    }

    > p:first-of-type {
      margin-block-start: 0;
    }
  }
}

.text-align-start { text-align: start }
.text-align-end { text-align: end }

.footnote-reference a {
  margin-inline: var(--space-very-very-small);

  &:before {
    content: '( ';
  }

  &:after {
    content: ' )';
  }
}

.footnotes {
  --_margin: var(--space-very-large);
  --_title-space: calc(1em * var(--text-line-height) + var(--space));

  position: relative;
  margin-block-start: calc(var(--_margin) + var(--_title-space));

  &::before {
    content: 'Notes & References';
    position: absolute;
    display: block;
    top: calc(-1 * var(--_title-space) - var(--space));
    left: 0;
    right: 0;

    font-weight: bold;
    padding-block-start: var(--space);
  }

  .footnotes-list > li {
    &:target {
      padding: var(--space);
      outline: var(--border-width) var(--color-accent) dotted;
    }

    a[href^="#"] {
      font-variant-emoji: text;
    }
  }
}

*[accesskey]:focus {
  position: relative;

  &::after {
    content: "[" attr(accesskey) "]";
    font-size: small;
    position: absolute;
    top: -.5rem;
    right: 0;
    transform: translateX(calc(100% + .1rem));
  }
}
