{% macro poster(page) %}
  <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
  <time title="Published date" datetime="{{ page.date }}">
    {{- page.date | date(format = "%B %d, %Y") -}}
  </time>
  <span title="Reading time">
    {{- page.reading_time ~ " minutes read" -}}
  </span>
{% endmacro %}

{% macro metadata(page) %}
  <div>
    <time title="Published date" datetime="{{ page.date }}">
      {{- page.date | date(format = "%B %d, %Y") -}}
    </time>
    <span title="Reading time">
      {{- page.reading_time ~ " minutes read" -}}
    </span>
    {% if page.taxonomies.keywords %}
    <span title="Keywords">
      Keywords:&nbsp;
      {%- for keyword in page.taxonomies.keywords -%}
        <a href="/keywords/{{ keyword | slugify }}">{{ keyword }}</a> 

        {%- if not loop.last -%}, {% endif %}
      {%- endfor -%}
    </span>
    {% endif %}
  </div>
{% endmacro %}
