{% import "macros/article.html" as article %}

{% macro poster(section) %}
  <a href="{{ section.permalink | safe }}" class="h2" property="url"><span property="name">{{ section.title | markdown(inline = true) | safe }}</span></a>
  <span class="label">
  {%- if section.extra.complete -%}
  complete
  {%- else -%}
  in progress
  {%- endif -%}
  </span>
  <div class="metadata">
    {%- set total_reading_time = 0 -%}
    {%- for page in section.pages -%}
    {%- if loop.index == 1 -%}
    <time title="Published date" datetime="{{ page.date }}" property="datePublished">
      {{- page.date | date(format = "%B %d, %Y") -}}
    </time>
    {%- endif -%}
    {%- set_global total_reading_time = total_reading_time + page.reading_time -%}
    {%- endfor -%}
    <span title="Reading time" property="timeRequired" content="PT{{ total_reading_time }}M">
      {%- set number_of_episodes = section.pages | length -%}
      {{- total_reading_time ~ " minutes read over <strong>" ~ number_of_episodes ~ " episodes</strong>" -}}
    </span>
  </div>
  <div property="description">
    {{ section.content | safe }}
  </div>
{% endmacro %}
