/* Reset */

*, *::before, *::after {
  box-sizing: border-box;
}

* { margin: 0 }

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Style */

:root {
  --color-white: #fff;
  --color-dark: oklch(26.42% .017 285.2);
  --color-dark-lighter: oklch(from var(--color-dark) calc(l + .1) c h);
  --color-dark-blue: oklch(27.23% 0.024 264.05);
  --color-light: oklch(85% .004 360);
  --color-lighter: oklch(from var(--color-light) calc(l + .05) c h);
  --color-light-darker: oklch(from var(--color-light) calc(l - 0.3) c h);
  --color-accent: oklch(84.83% .114 76.18);
  --color-accent-darker: oklch(from var(--color-accent) calc(l - .04) c h);
  --color-accent2: oklch(64% .26 10);

  --space-very-very-small: .2rem;
  --space-very-small: .25rem;
  --space-small: .5rem;
  --space: 1rem;
  --space-large: 1.5rem;
  --space-very-large: 3rem;

  --border-width: 2px;
  --border-color: var(--color-dark-lighter);

  --text-size: 1.05rem;
}

body {
  /* Thanks https://modernfontstacks.com/! */
  font-size: var(--text-size);
  font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
  font-weight: normal;
  line-height: 1.5;

  color: var(--color-light);
  accent-color: var(--color-accent);
  background: var(--color-dark);
}

a {
  color: var(--color-accent);
  text-decoration: none;

  &:hover, &:focus {
    text-decoration-color: var(--color-accent-darker);
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1em;
}

:is(h1, h2, h3, h4, h5, h6):not(:first-child):not(:last-child) {
  margin-block: var(--space-very-large) var(--space-large);
}

h1 {
  font-size: 1.8em;
}

h2, .h2 {
  font-size: 1.4em;
}

h3, .h3 {
  font-size: 1.2em;
}

p {
  hyphens: auto;
  margin-block: var(--space);

  &:first-child {
    margin-block-start: 0;
  }

  &:last-child {
    margin-block-end: 0;
  }
}

ul {
  position: relative;
  list-style: none;
  padding-inline-start: var(--space-large);

  > li + li {
    margin-block-start: var(--space-small);
  }

  > li::before {
    content: "•";
    position: absolute;
    left: 0;
    display: inline-block;
    text-align: center;
    width: var(--space-large);
  }
}

ol {
  padding-inline-start: 2ch; /* 1 number plus a dot, like “7.” */
}

small {
  font-size: .6em;
}

code {
  /* Thanks https://modernfontstacks.com/! */
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-weight: normal;
  font-size: .85em;
  hyphens: auto;
}

pre {
  overflow-x: scroll;
  margin-block: var(--space);
  padding: var(--space);
  line-height: 1.3em;
  background: var(--color-dark-blue);
  border: var(--border-width) var(--border-color) solid;
}

figure {
  --_block-space: var(--space);
  --_inline-space: var(--space);

  margin-block: var(--space-large);

  &:has(img, picture) {
    --_figcaption-color: var(--color-dark-lighter);

    padding: var(--_block-space) var(--_inline-space);
    background: var(--color-white);
  }

  figcaption {
    color: var(--_figcaption-color, currentColor);
    margin-block-start: var(--_block-space);
    margin-inline: auto;
    max-width: 70%;
    text-align: center;
    text-wrap: pretty;
  }

  :not(figcaption) {
    margin-inline: auto;
    max-height: 50vh;
  }

  & > p {
    margin: 0;
  }

  &:has(> table) {
    overflow-x: scroll;
  }
}

table {
  border-collapse: collapse;

  th, td {
    padding: var(--space-very-small) var(--space-small);
    border: var(--border-width) var(--border-color) solid;
  }
}

blockquote {
  font-style: italic;
  font-size: 1.05em;
  padding-left: var(--space);
  border-left: var(--border-width) var(--border-color) solid;
}

.content-grid {
  --padding-inline: 1rem;
  --content-max-width: 70ch;
  --breakout-max-width: 85ch;

  --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

  display: grid;
  grid-template-columns:
    [full-width-start]
      minmax(var(--padding-inline), 1fr)
      [breakout-start]
        minmax(0, var(--breakout-size))
        [content-start]
          min(
            100% - (var(--padding-inline) * 2),
            var(--content-max-width)
          )
        [content-end]
        minmax(0, var(--breakout-size))
      [breakout-end]
      minmax(var(--padding-inline), 1fr)
    [full-width-end];

  > * {
    grid-column: content;
  }

  > .breakout {
    grid-column: breakout;
  }

  > .full-width {
    grid-column: full-width;
  }
}

main {
  margin-block: var(--space-very-large);
}

#menu {
  color: var(--color-lighter);
  background: var(--color-accent2);

  > ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: 0;
    height: var(--space-very-large);
    align-items: center;
  }

  > ul > li {
    margin: 0;
    padding: 0;
    text-align: center;

    &::before {
      display: none;
    }
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover, &:focus {
      text-decoration-color: currentcolor;
    }
  }
}

footer {
  padding: var(--space);
  border-top: var(--border-width) var(--border-color) solid;

  .footer {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--space-very-large);
    row-gap: var(--space-large);

    > * {
      min-width: fit-content;
    }

    h2 {
      font-size: var(--text-size);
      margin-block: var(--space);
    }

    ul {
      padding-inline-start: 0;

      li::before {
        content: "";
      }
    }
  }
}

article {
  > header {
    margin-block-end: var(--space-very-large);

    > h1 {
      display: inline-block;
    }

    > .metadata {
      margin-block-start: var(--space);
    }
  }

  &.series-episode {
    > header {
      > h1 {
       margin-block-end: 0;
      }

      > nav {
        > p {
          margin-block-start: 0;
        }
      }
    }

    .previous-next-episodes {
      display: flex;
      flex-wrap: wrap;
      gap: var(--space-large);
      margin-block-start: var(--space-very-large);

      > * {
        flex: 1;
        min-width: fit-content;
      }
    }
  }
}

.button {
  padding: var(--space-small) var(--space);
  color: var(--color-dark);
  background: var(--color-accent);

  a&:hover, a&:focus {
    outline: var(--border-width) var(--color-accent) solid;
    color: unset;
    text-decoration: none;
    background: transparent;
  }
}

.metadata > * {
  display: inline-block;
  color: var(--color-light-darker);

  :has(+ &) {
    margin-inline-end: var(--space-large);
  }
}

.article-poster, .series-poster {
  padding: var(--space);
  border: var(--border-width) var(--border-color) solid;

  :has(+ &) {
    margin-block-end: var(--space);
  }

  > a {
    display: inline-block;

    &:has(+ .label) {
      margin-inline-end: var(--space);
    }
  }
} 

.label {
  font-size: 0.7rem;
  font-weight: bold;
  color: var(--color-ligh-lighter);
  padding: var(--space-very-very-small) var(--space-small);
  vertical-align: text-top;
  border-radius: var(--space-very-small);
  background: var(--color-accent2);
}

.conversation {
  --_space: var(--space);

  color: var(--color-dark);
  padding: var(--_space);
  border-radius: var(--space-small);
  background: var(--color-accent-darker);
  background-size: 100px auto;

  > .conversation--character {
    position: relative;
    min-width: 80px;
    max-width: 20%;

    float: inline-start;
    margin-block-end: var(--_space);
    margin-inline-end: var(--_space);

    span {
      position: absolute;
      font-size: .8em;
      font-style: italic;
      left: 0;
      bottom: calc(-1 * var(--_space));
      width: 100%;
      text-align: center;
    }
  }

  > p:first-of-type {
    margin-block-start: 0;
  }

  .clear { clear: both }
}

.text-align-start { text-align: start }
.text-align-end { text-align: end }
