{% extends "base.html" %}

{% block title -%}
  {{ section.title }}
{%- endblock title %}

{% block long_title -%}
  {{ section.title }}
{%- endblock long_title %}

{% block body %}
  <section typeof="ItemList">
    <p>Articles treat various subjects in a single page, contrary to
    <a href="{{ get_url(path = "@/series/_index.md") }}">series</a>.</p>

    {% set pages_grouped_by_year = section.pages | group_by(attribute="year") %}
    {% set_global years = [] %}
    {% for year, _ignored in pages_grouped_by_year %}
      {% set_global years = [...years, year] %}
    {% endfor %}
    {% for year in years | sort | reverse %}
      {% set pages = pages_grouped_by_year[year] %}
      <h1 class="separator"><span>{{ year}}</span></h1>

      <div role="list">
      {% for page in pages -%}
        {%- if not page.draft -%}
          <div role="listitem" class="poster" property="itemListElement" typeof="Article">
            {{ <article.poster page={page} /> }}
          </div>
        {%- endif -%}
      {% endfor %}
      </div>
    {% endfor %}
  </section>
{% endblock body %}
