{% extends "base.html" %}

{% block title %}
  {{ page.title }}
{% endblock title %}

{% block body %}
  <div>
    <time title="Published date" datetime="{{ page.date }}">
      {{- page.date | date(format = "%B %d, %Y") -}}
    </time>
    <span title="Reading time">
      {{- page.reading_time ~ " minutes read" -}}
    </span>
    {% if page.taxonomies.keywords %}
    <span title="Keywords">
      Keywords:&nbsp;
      {%- for keyword in page.taxonomies.keywords -%}
        <a href="/keywords/{{ keyword | slugify }}">{{ keyword }}</a> 

        {%- if not loop.last -%}, {% endif %}
      {%- endfor -%}
    </span>
    {% endif %}
  </div>

  <h1>{{ page.title }}</h1>

  {% if page.toc %}
  <h2>Content</h2>

  <ul title="Jump to the following section in this page">
  {% for h1 in page.toc -%}
    <li><a href="#{{ h1.permalink | split(pat = "#") | last }}">{{ h1.title }}</a></li>
  {% endfor %}
  </ul>
  {% endif %}

  {{ page.content | safe }}
{% endblock body %}
