{% import "macros/article.html" as article %}

{% extends "base.html" %}

{% block title %}
  {{ page.title }}
{% endblock title %}

{% block body %}
  <article class="article" vocab="https://schema.org/" typeof="Article">
    <header>
      <h1 property="name">{{ page.title | markdown(inline = true) | safe }}</h1>

      {{ article::metadata(page = page, full = true) }}

      {{ article::table_of_content(page = page) }}
    </header>

    {{ page.content | safe }}
  </article>
{% endblock body %}
