{% import "macros/article.html" as article %}

{% extends "base.html" %}

{% block title -%}
  {{ section.title }}
{%- endblock title %}

{% block long_title -%}
  {{ section.title }}
{%- endblock long_title %}

{% block body %}
  <section typeof="ItemList">
    <p>Articles treat various subjects in a single page, contrary to
    <a href="{{ get_url(path = "@/series/_index.md") }}">series</a>.</p>

    {% for year, pages in section.pages | group_by(attribute = "year") %}
    <h1 class="separator"><span>{{ year}}</span></h1>

    <div role="list">
    {% for page in pages -%}
      <div role="listitem" class="article-poster" property="itemListElement" typeof="Article">
        {{- article::poster(page = page) -}}
      </div>
    {% endfor %}
    </div>
    {% endfor %}
  </section>
{% endblock body %}
