<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
  {%- block title -%}
    mnt.io
  {%- endblock title -%}
  </title>

  <link rel="stylesheet" href="{{ get_url(path = "/style/min/main.css", cachebust = true) }}" />
  <link rel="stylesheet" href="{{ get_url(path = "/style/min/syntax-theme.css", cachebust = true) }}" />
</head>
<body class="content-grid">

<nav id="menu" class="full-width content-grid">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="{{ get_url(path = '@/articles/_index.md' )}}">Articles</a></li>
    <li><a href="{{ get_url(path = '@/series/_index.md') }}">Series</a></li>
  </ul>
</nav>

<main>
{% block body %}
  Block `body` is undefined
{% endblock body %}
</main>

<footer class="full-width content-grid">
  <div class="footer">
    <div>
      <h2>Contact me</h2>

      <ul>
        <li><a href="mailto:ivan@mnt.io" title="Good ol' email">ivan@mnt.io</a></li>
        <li><a href="https://fosstodon.org/@hywan" title="Say hi on Mastodon">Mastodon</a></li>
        <li><a href="https://github.com/Hywan" title="Say hi on Github">Github</a></li>
      </ul>
    </div>
    <div>
      <h2>Recommendations</h2>

      <ul>
        <li><a href="https://fasterthanli.me/">fasterthanli.me</a></li>
        <li><a href="https://without.boats/blog/">without.boats</a></li>
        <li><a href="https://faultlore.com/blah/">faultlore.com</a></li>
        <li><a href="https://smallcultfollowing.com/babysteps/blog/">smallcultfollowing.com</a></li>
      </ul>
    </div>

    <div>
      <h2>Web</h2>

      <ul>
        <li><a href="{{ get_url(path = "rss.xml", trailing_slash = false) }}">RSS</a></li>
        <li><a href="{{ get_url(path = "atom.xml", trailing_slash = false) }}">Atom</a></li>
        <li><a href="https://github.com/Hywan/mnt.io" title="Source code of this site">Source code</a></li>
        <li><a href="https://dblp.org/search/index.php?query=Ivan%20Enderlin" title="Computer Science Bibliography">DBLP</a></li>
      </ul>
    </div>
  </div>
</footer>
</body>
</html>
