<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="content-security-policy" content="default-src 'self'">
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{%- block title -%}mnt.io{%- endblock title -%}</title>

  <link rel="stylesheet" href="{{ get_url(path = "/style/min/main.css", cachebust = true) }}" />
  <link rel="stylesheet" href="{{ get_url(path = "/style/min/syntax-theme.css", cachebust = true) }}" />

  <meta name="author" content="Ivan Enderlin" />
  {%- if page.description %}
  <meta name="description" content="{{ page.description }}" />
  {%- elif section.description %}
  <meta name="description" content="{{ section.description }}" />
  {%- else %}
  <meta name="description" content="mnt.io" />
  {%- endif %}
  {%- if page.taxonomies.keywords %}
  <meta name="keywords" content="{{ page.taxonomies.keywords | join(sep=", ") }}" />
  {%- endif %}
  <meta property="og:title" content="{%- block long_title -%}mnt.io{%- endblock long_title -%}" />
  <meta property="og:site_name" content="mnt.io" />
  <meta property="og:locale" content="en_GB" />
  {% set first_component = page.components | default(value = []) | first -%}
  <meta property="og:type" content="{% if first_component == "series" or first_component == "articles" -%}article{% else %}website{% endif %}" />
  {%- if page.permalink %}
  <meta property="og:url" content="{{ page.permalink | safe }}" />
  {%- elif section.permalink %}
  <meta property="og:url" content="{{ section.permalink | safe }}" />
  {%- else %}
  <meta property="og:url" content="https://mnt.io" />
  {%- endif %}
  <meta property="og:image" content="{{ get_url(path = "/image/site-poster.jpg") }}">
  <meta name="fediverse:creator" content="@hywan@fosstodon.org" />
</head>
<body class="content-grid">

<nav id="menu" class="full-width content-grid">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="{{ get_url(path = '@/articles/_index.md' )}}">Articles</a></li>
    <li><a href="{{ get_url(path = '@/series/_index.md') }}">Series</a></li>
    <li><a href="https://matrix.to/#/&#x23;mnt_io:matrix.org" title="Public Matrix room to discuss about this blog's content">Discuss</a></li>
  </ul>
</nav>

<main vocab="https://schema.org">
{% block body %}
  Block `body` is undefined
{% endblock body %}
</main>

<footer class="full-width content-grid">
  <div class="footer">
    <div>
      <h2>Contact me</h2>

      <ul>
        <li><a href="https://matrix.to/#/@mnt_io:matrix.org" title="Say hi on Matrix">@mnt_io:matrix.org</a></li>
        <li><a href="mailto:ivan@mnt.io" title="Good ol' email">ivan@mnt.io</a></li>
        <li><a href="https://fosstodon.org/@hywan" title="Say hi on Mastodon" rel="me">Mastodon</a></li>
        <li><a href="https://github.com/Hywan" title="Say hi on Github">Github</a></li>
      </ul>
    </div>
    <div>
      <h2>Recommendations</h2>

      <ul>
        <li><a href="https://fasterthanli.me/">fasterthanli.me</a></li>
        <li><a href="https://without.boats/blog/">without.boats</a></li>
        <li><a href="https://faultlore.com/blah/">faultlore.com</a></li>
        <li><a href="https://smallcultfollowing.com/babysteps/blog/">smallcultfollowing.com</a></li>
      </ul>
    </div>

    <div>
      <h2>More</h2>

      <ul>
        <li><a href="{{ get_url(path = '@/lore.md' )}}">Lore</a></li>
        <li><a href="{{ get_url(path = "rss.xml", trailing_slash = false) }}">RSS</a></li>
        <li><a href="{{ get_url(path = "atom.xml", trailing_slash = false) }}">Atom</a></li>
        <li><a href="https://github.com/Hywan/mnt.io" title="Source code of this site">Source code</a></li>
        <li><a href="https://dblp.org/search/index.php?query=Ivan%20Enderlin" title="Computer Science Bibliography">DBLP</a></li>
      </ul>
    </div>
  </div>
</footer>

<script defer src="https://cloud.umami.is/script.js" data-website-id="30754987-0af7-4ea0-9bd3-711c543b6ecb"></script>
</body>
</html>
