<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
  {% block title %}
    mnt.io
  {% endblock title %}
  </title>

  <link rel="stylesheet" href="/style/main.css">
  <link rel="stylesheet" href="/style/syntax-theme.css" />
</head>
<body class="content-grid">

<nav id="menu" class="full-width content-grid">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="{{ get_url(path = '@/articles/_index.md' )}}">Articles</a></li>
    <li><a href="{{ get_url(path = '@/series/_index.md') }}">Series</a></li>
  </ul>
</nav>

<main>
{% block body %}
  Block `body` is undefined
{% endblock body %}
</main>

<footer class="full-width content-grid">
  <div>
    <a href="mailto:ivan@mnt.io" title="Good ol' email">ivan@mnt.io</a>
    —
    <a href="https://fosstodon.org/@hywan" title="Say hi on Mastodon">@hywan on Mastodon</a>
    —
    <a href="https://github.com/Hywan" title="Say hi on Github">@hywan on Github</a>
  </div>
</footer>
</body>
</html>
