{% import "macros/series.html" as series %}

{% extends "base.html" %}

{% block title %}
  {{ section.title }}
{% endblock title %}

{% block body %}
  <p>Series are subjects that are, unlike
  <a href="{{ get_url(path = "@/articles/_index.md") }}">articles</a>, too long
  to fit in one page. They spread over multiple episodes for more pleasure.</p>

  <div role="list">
  {% for section_path in section.subsections %}
    <div role="listitem" class="series-poster">
      {{- series::poster(section = get_section(path = section_path)) -}}
    </div>
  {% endfor %}
  </div>
{% endblock body %}
