{% import "macros/article.html" as article %}

{% extends "base.html" %}

{% block title %}
  {{ section.title }}
{% endblock title %}

{% block body %}
  <h1>{{ section.title }}</h1>

  {{ section.content | safe }}

  <h2>Episodes</h2>

  <div role="list">
  {% for page in section.pages | reverse  %}
    <div role="listitem" class="article-poster">
      <a href="{{ page.permalink | safe }}" class="h3">Episode {{ loop.index }} – {{ page.title }}</a>
      {{ article::metadata(page = page) }}
      {% if page.description %}
      {{ page.description | markdown(inline = false) | safe }}
      {% endif %}
    </div>
  {% endfor %}
  </ul>
{% endblock body %}
