{% import "macros/article.html" as article %}

{% extends "base.html" %}

{% block title %}
  {{ page.title }}
{% endblock title %}

{% block body %}
  <article>
    {% set series = get_section(path = page.ancestors | last) -%}

    {{ article::metadata(page = page) }}

    <h1>{{ page.title }}</h1>

    <p>This article is part of the series <a href="{{ series.path }}">{{ series.title }}</a>.</p>

    <select title="Jump to any part of this series" onchange="document.location.pathname = this.value">
      {% for part in series.pages | reverse -%}
      <option value="{{ part.path }}"{% if part.path == page.path  %} selected{% endif %}>{{ part.title }}</option>
      {% endfor %}
    </select>

    {% if page.toc %}
    <h2>Content</h2>

    <ul title="Jump to the following section in this page">
    {% for h1 in page.toc -%}
      <li><a href="#{{ h1.permalink | split(pat = "#") | last }}">{{ h1.title }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}

    {{ page.content | safe }}
  </article>
{% endblock body %}
