{% extends "base.html" %}

{% block title %}
  {{ section.title }}
{% endblock title %}

{% block body %}
  <h1>{{ section.title }}</h1>

  {{ section.content | safe }}

  <h2>Episodes</h2>

  <ul>
  {% for section in section.pages | reverse  %}
    <li>
      <a href="{{ section.permalink | safe }}">{{ section.title }}</a>
      <time title="Published date" datetime="{{ section.date }}">
        {{- section.date | date(format = "%B %d, %Y") -}}
      </time>
      <span title="Reading time">
        {{- section.reading_time ~ " minutes read" -}}
      </span>
    </li>
  {% endfor %}
  </ul>
{% endblock body %}
