{% import "macros/article.html" as article %}

{% extends "base.html" %}

{% block title -%}
  {{ page.title }}
{%- endblock title %}

{% block long_title -%}
  {% set series = get_section(path = page.ancestors | last) -%}
  {{ page.title }} — from the series {{ series.title }}
{%- endblock long_title %}

{% block body %}
  <article class="series-episode" typeof="Article">
    {% set series = get_section(path = page.ancestors | last) -%}

    <header>
      <h1 property="name">{{ page.title | markdown(inline = true) | safe }}</h1>

      <nav property="isPartOf" typeof="CreativeWorkSeries">
        <p>From the series <a href="{{ series.path | safe }}" property="url"><span property="name">{{ series.title }}</span></a>.</p>
      </nav>

      {{ article::metadata(page = page, full = true) }}
    </header>

    {{ page.content | safe }}

    <nav class="previous-next-episodes">
      {%- if page.higher -%}
        <a href="{{ page.higher.permalink }}" class="button text-align-start">❮&nbsp;{{ page.higher.title }}</a>
      {%- endif -%}
      {%- if page.lower -%}
        <a href="{{ page.lower.permalink }}" class="button text-align-end">{{ page.lower.title }}&nbsp;❯</a>
      {%- else -%}
        {%- if not series.extra.complete -%}
        <div class="button button--disabled text-align-end">(coming soon)&nbsp;❯</div>
        {%- endif -%}
      {%- endif -%}
    </nav>
  </article>
{% endblock body %}
