on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: 'checkout'
        uses: actions/checkout@v5
      - name: 'build'
        uses: shalzz/zola-deploy-action@v0.21.0
        env:
          BUILD_ONLY: true
      - name: 'search: prepare'
        uses: robinraju/release-downloader@v1
        with:
          repository: 'Pagefind/pagefind'
          tag: 'v1.4.0'
          fileName: 'pagefind-v1.4.0-x86_64-unknown-linux-musl.tar.gz'
          extract: true
      - name: 'search: build'
        shell: bash
        run: |
          chmod u+rwx pagefind
          sudo make build-search
      - name: 'ls'
        shell: bash
        run: |
          ls -laGi ./public
      - name: 'deploy'
        if: github.ref == 'refs/heads/main'
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
